@charset "utf-8";
/* CSS Document */
/*HTML5新标签兼容低版本的IE*/
article,aside,footer,header,section,footer,nav,figure,main{display:block;}

/*页面样式初始化*/
*{
    padding: 0;
    margin: 0;
    font: inherit;
}

/*通用样式*/
body{
    background-color:royalblue;
    font: 14px 微软雅黑, 黑体, Verdana, Arial, sans-serif;
    color: #333333;
    border-top: 8px solid #A78560;
}

ul{
    list-style-type: none;
}

/*外层盒子*/
.wrap{
    width: 960px;
    margin: 0 auto;
}

/*头部*/
.top-header{
    margin: 10px 0;
    height: 120px;
}

/*logo*/
.AI-logo{
    float: left;
}

/*导航*/
.top-menu{
    float: left;
    margin-top: 73px;
    margin-left: 30px;
}

.top-menu ul li{
    display: inline;
    background-color: #EEEEEE;
    padding: 5px 10px;
    margin: 0 5px;
	border-radius: 5px;
	box-shadow: 3px 3px #AAA;
	transition: 1.5s;	
}

.top-menu ul li.selected, .top-menu ul li:hover{
    background-color: #FBECA1;
}

.top-menu ul li a:link, .top-menu ul li a:visited{
    color: #a78560;
    text-decoration: none;
    font-weight: bold;
}

/*侧边栏*/
.left-aside{
    float: left;
    width: 350px;	
}

.left-aside section{
    background: #eeeeee url(../images/bg.gif) top left;
    padding: 20px;
    margin-bottom: 10px;
}

.left-aside h3{
    color: #a78560;
    font-size: 1.2em;
	font-weight: bold;
    margin-bottom: 10px;	
}

/*新闻导语*/
.news{
	border-radius: 5px;
	box-shadow: 3px 3px #AAA;
	}
.news p{
    line-height: 1.8em;
}

.news a{
    text-decoration: none;
    color: #a78560;
}

/*茗茶欣赏*/
.teas{
	border-radius: 5px;
	box-shadow: 3px 3px #AAA;
	}
.teas figure{
    float: left;
	transition: transform 2s;
}

.teas figure:hover{	
	transform: scale(1.1);
}
.teas .figure-r{
    margin-left: 20px;
}

.teas figure img{
    width: 141px;
    height: 158px;
    border: 2px solid #ffffff;
	
}

.teas figcaption{
    text-align: center;
    margin-bottom: 10px;
}

.clear{
    clear: both;
}

/*主内容区域*/
main{
    background: #eeeeee url(../images/bg.gif) top left;
    padding: 20px;
    margin-left: 360px;
	border-radius: 5px;
	box-shadow: 3px 3px #AAA;	
}

main article{
    border-bottom: 1px dashed #C8B99C;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

main .last-article{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

main article h3{
    color: #A78560;
    font-size: 1.2em;
	font-weight: bold;
    margin-bottom: 10px;	
}

main article time{
    color: #929B8D;
}

main article p{
    line-height: 1.5em;
    text-indent: 30px;
    margin: 10px 0;
}

main article footer{
    color: #929B8D;
    text-align: right;
    font-size: 0.8em;
}

main ol{
	margin-left:50px;
}

main li{
	line-height:1.5em;
}

/*页脚*/
.page-footer{
    clear: both;
    padding: 15px;
    margin-top: 10px;
    background-color: #4F3115;
    color: #FFFFFF;
    text-align: center;
    font-size: 90%;
}


/*category内容区域*/
.category{
	margin-left:0;
}

.category article h3{
    color: #BE5C56;
}

.category article{
	border-color:#BE5C56;
}


/*method内容区域*/
.method{
	margin-left:0;
}

.method article h3{
    color: #4B7AA3;
}

.method article{
	border-color:#4B7AA3;
}

/*表单*/
main.form{
    margin-left: 0;
	line-height: 1.5em;
}

main.form h3 {
    color: #A78560;
    font-size: 1.2em;
	font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

main.form p {
	margin: 0 0 15px 0;
}

main.form form {
    padding: 10px;
	
}
main.form form fieldset {
	padding:15px;
	border-radius:10px;
	width:700px;
	margin: 0 auto;
	}
	
main.form form legend {
	color: #4B7AA3;
	font-weight: bold;
	font-size: 16px;
	}
	
main.form form .left{
	width: 120px;
	height:20px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	margin:0 15px;
	background-color: #fff;
	padding: 0px 10px;
	border: 1px solid  #a78560;
	border-radius: 3px;
	color: #000000;		
 }
main.form span.red{
	color: red;	
	font-weight: bold;
	}
main.form form .right {
	width:250px;
	height:20px;
	text-align:center;
	margin-bottom:5px;	
}
main.form form .btn {
	width: 65px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px #AAA;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background-color:  #a78560;
	margin: 10px 10px 0px 250px;
}

main.form form textarea {
    width: 500px;
	height: 250px;
}
